﻿@model GoodNewsAggregator.Models.ArticleHeadersViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:10px;">
    @foreach (var art in Model.ArticleHeaders)
    {
        <div class="col-md-4" style="background-color:#eee; border: 3px solid white; border-radius:15px;">
            <p>@MvcHtmlString.Create(art.Header)</p>

            <div style="text-align:right; margin-bottom:15px;">
                @Html.ActionLink("Learn more »", "ReadArticle", "Home", new { id = art.ID }, new { @class = "btn btn-outline-primary", @role = "button" })
            </div>
        </div>
    }
</div>
    <div style="text-align:center;">
        @ViewBag.Paginator
    </div>
