﻿@model DataLayer.Article
@using System.Web.Mvc
@{
    ViewBag.Title = MvcHtmlString.Create(Model.Title);
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="background-color:#eee; border: 3px solid white; border-radius:15px;">
        <div class="col-md-12 h3" style="background-color:white; text-align:center; border: 1px solid white; margin-top:13px; border-radius:5px; padding:5px;">
            @MvcHtmlString.Create(Model.Title)
        </div>

        <div class="small" style="text-align:right;">
            @Model.PublishTime.ToLongDateString() @Model.PublishTime.ToShortTimeString()
        </div>
        
        <div><br>@MvcHtmlString.Create(Model.Body)</div>

        <div style="text-align:right; margin-bottom:15px;">
            <div class="btn-group" role="group">
                @Html.ActionLink("« Home", "Index", "Home", null, new { @class = "btn btn-outline-primary", @type = "button" })
                <a type="button" class="btn btn-primary" href="@Model.SourceURL">Read origin</a>
            </div>
        </div>
    </div>
</div>
