﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Good News Aggregator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        @Html.ActionLink("Good News Aggregator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div style="border-top: 1px solid #eee; padding-right:15px; text-align:right;">&copy; @DateTime.Now.Year - Learning project</div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
